# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# Backend
backend/target/

# Backend local secrets
backend/src/main/resources/application.properties
.env

# IDE files
.idea/
.vscode/
*.iml

# Eclipse
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# Test reports
frontend/test-results/
